
* {
  box-sizing: border-box;
}

/* busketblock */


footer {
 
  position: relative;
 

}


.busketContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(192, 192, 192, 1);
  z-index: 20;
  transform: translateY(100%);
  transition: transform 0.5s, visibility 0s linear 0.5s;

}

.busketContainer-animate {
  visibility: visible!important;
  bottom: 0;
  transform: translateY(0);
  transition-delay: 0s;
}

.busketContainer button{
  background-color: #999999;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 10px;
  border: 1px solid transparent;

}

.pay-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*  */


html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: rgba(244, 244, 244, 1);
  /* display: grid; */
  /* grid-template-rows: auto auto auto; */
  
}

.container {
  max-width: 1430px;
  min-width: auto;
  margin: 0 auto;
  padding: 0 15px;
}





p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.top-header {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.bottom-header {
  padding-top: 20px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-block {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.afisha-filter {
  position: absolute;
  top: 80px;
  left: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 30px;
  width: auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* opacity: 0; */
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s, visibility 0s linear 0.5s;
}

.afisha-filter-animate {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition-delay: 0s;
}


.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 24px;
}

.h2-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  margin-bottom: 30px;
}

input {
  outline: none;
}

.h3-title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin-bottom: 15px;
}

.section-info {
  padding-bottom: 150px;
}

button {
  cursor: pointer;
}


@media (max-width: 650px) {



  .afisha-filter {
    width: 100%;
    font-size: 18px;
  }

  .filter-container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .logo {
    text-align: center;
  }

  .header-content {
    display: flex;
    flex-direction: column-reverse;
}
}

@media (max-width: 320px) {
  body {
      min-width: 320px;
      position: relative;
  }
}





.city-container {
  position: relative;
}

.dropdown {
  background-color: rgba(244, 244, 244, 1);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: absolute;
  top: 55px;
  right: 0;
  padding: 0px;
  visibility: hidden;
  min-width: 200px;
  max-width: auto;
  overflow: hidden;
}

.choise-div {
  padding: 5px;
  cursor: pointer;
}

.open {
  visibility: visible;
  display: block;
}

.list-part {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}

.list-part:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 450px) {
  .city-container {
    text-align: end;
    font-size: 10px;
    margin-bottom: 20px;
  }

  .dropdown {
    min-width: auto;
    top: 30px;
   }

 }

 


.afisha-filter-button {
  border: 1px solid transparent;
    margin-top: 15px;
    background-color: #999999;
    color: white;
    font-size: 18px;
    padding: 5px 30px;
}

.afisha-list {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 20px;
}


.afisha-li {
  /* width: 45%; */
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 50%;
  grid-column-gap: 10%;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 25%);
  border-radius: 12px;
}


.content-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  width: 100%;
}

.content-block p {
  padding: 0;
  margin: 0;
}

.content-block p:last-child {
  margin-bottom: 20px;
  color: red;
}

.content-block button {
  border: 1px solid transparent;
  margin-top: 15px;
  background-color: #999999;
  color: white;
  font-size: 18px;
  padding: 5px 30px;
}

.content-title {
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.image-div {
  width: 100%;
  height: 100%;
}

.image-div img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.apply-button {
  border: 1px solid transparent;
  padding: 10px 20px;

}

@media (max-width: 1300px) {

  .afisha-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-template-rows: 1fr;
    
  } 

  .afisha-li {
    display: grid;
    grid-template-columns: 100%;
   
  }

  .content-block {
    padding-left: 20px;
    padding-bottom: 40px;
  }

  .content-block button {
    padding: 14px 30px;
    width: 100%;
    margin-top: 30px;
    border: 2px solid rgb(255, 119, 0);
    background-color: orange;
    font-size: 20px;
    color: white;
    font-weight: 600;
  }

}

@media (max-width: 970px) {

  .sort-block {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .afisha-filter-button {
      padding: 10px 30px;
  }

  .afisha-list {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr;
    grid-row-gap: 50px;
    justify-content: center;
  } 

  .afisha-li {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 5%;
  }
}

@media (max-width: 650px) {

  .apply-button {
    border: 1px solid transparent;
    padding: 20px 30px;
    font-size: 18px;
  }

  .afisha-filter-button {
    width: 100%;
  }

  .afisha-li {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 10%;
  } 

  .content-block {
    padding-left: 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
  }


}

@media (max-width: 500px) {

  .afisha-list {
    grid-template-rows: fit-content(100%);
  }


  .afisha-li {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-column-gap: 0;
    grid-row-gap: 0%;
    padding-bottom: 20px;
  } 

  .content-block {
    width: 100%;
    padding-bottom: 20px;
  }

  .content-block button {
    margin-top: 40px;
  }

  .image-div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 400px) { 
  .afisha-li {
    padding-bottom: 70px;
  }
}

.shared-info {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 50px;
}

.shared-info p {
  padding: 0;
  margin: 0;
}

.shared-info p:not(:last-child) {
  margin-bottom: 10px;
}

.ticket-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
}

.level {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 20px;
}

.level-title {
  font-size: 20px;
}

.avaliable {
  margin-bottom: 20px;
}


.tarif-block {
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: rgba(192, 192, 192, 0.2);
  padding: 10px;
}


.busket-block {
  display: grid;
  justify-items: end;
  grid-template-columns: 60%;
  justify-content: end;
  margin-top: 30px;
}

.busket-button {
  border: 1px solid transparent;
  height: 100%;
  padding: 5px 10px;
  color: white; 
  background: #999999;
  transition: background-color 0.3s ease-in-out;
}

.plug-button {
  border: 1px solid transparent;
  background-color: #999999;
}

.busket-button:hover {
  background-color: rgba(34, 139,34, 1);
}

.busket-button:active {
  background-color: rgba(	0, 100, 0, 1);
}

.price-div {
  margin-bottom: 15px;
  text-align: end;
  font-size: 18px;
  font-weight: 600;
}

.button-group {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.plug-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
}

.button-group button {
  min-width: 40px;
  min-height: 30px;
}

.quantity {
  min-width: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;

}

.avaliable {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 1024px) {

  .ticket-list {
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    display: grid;
  }

  .busket-block {
    margin-top: 30px;
    font-size: 16px;
    justify-items: start;
    justify-content: start;
  }

  .price-div {
    text-align: start;
  }

  .tarif-block {
    padding: 25px;
  } 

 }

 @media (max-width: 850px) {
  .ticket-list {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }

  .avaliable {
    margin-bottom: 30px;
  }

  .tarif-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 20px;
  }

  .busket-block {
    grid-template-columns: 100%;
  }

  .button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
  }
  
}

@media (max-width: 650px) {
  .tarif-container {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }

  .button-group {
    min-height: 50px;
  }

  .button-group button {
    min-width: 60px;
  }

  .price-div {
    margin-bottom: 30px;
  }

 }
.pay-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 650px) {
  .pay-container {
    display: flex;
    flex-direction: column;
  }

  #busketList {
    margin-bottom: 30px;
    font-size: 12px;
  }
}
.ticket-container {
  margin-bottom: 30px;
}

.form-desc {
  margin-bottom: 30px;
  
  font-size: 18px;
  font-weight: 600;
}

.button-submit {
  background-color: #9999;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 20px;
}


.form-container {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pay-form {
  min-width: 30%;
}

.pay-form input {
  width: 100%;
  /* border: 1px solid grey; */
  border-radius: 6px;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.input {
  border: 1px solid grey;
}

[data-validate="error"] {
  border: 1px solid red!important; 
}

@media (max-width: 970px) {
  .pay-form {
    min-width: 100%;
  }

  .form-desc {
    text-align: center;
  }

  .input {
    border: 1px solid grey;
    padding: 30px 20px;
    font-size: 18px;
  }

  .pay-form input {
    margin-bottom: 30px;
  }

  .button-submit {
    padding: 20px 30px;
    
  }

 }

 @media (max-width: 650px) {
  .button-submit {
    width: 100%;
  }

 }


.list {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 20px;
}

.shared-block {
  margin-bottom: 30px;
}

.item {
  min-width: 48%;
  display: flex;
  border: none;
  padding: 0 20px;
  background: #fff;
  overflow: hidden;
  
}
.list .item-right, .list .item-left {
  float: left;
  padding: 20px 
}


.list .item-right {
  display: flex;
  margin-right: 20px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.list .item-right .up-border, .list .item-right .down-border {
    padding: 14px 15px;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 50%;
    position: absolute
}
.list .item-right .up-border {
  top: -8px;
  right: -35px;
}
.list .item-right .down-border {
  bottom: -13px;
  right: -35px;
}
.list .item-right .num {
  font-size: 20px;
  text-align: center;
  color: #111
}
.list .item-right .day, .list .item-left .event {
  color: #555;
  font-size: 16px;
  margin-bottom: 9px;
}
.list .item-right .day {
  text-align: center;
  font-size: 25px;
}
.list .item-left {
  width: 71%;
  border-left: 3px dotted #999;
} 
.list .item-left .title {
  color: #111;
  font-size: 18px;
  margin-bottom: 12px
}
.list .item-left .sce {
  margin-top: 5px;
  display: block
}
.list .item-left .sce .icon, .list .item-left .sce p,
.list .item-left .loc .icon, .list .item-left .loc p{
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}

.list .item-left .loc {display: block}
.fix {clear: both}
/* .list .item .tickets, .booked, .cancel{
    color: #fff;
    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer
}
.list .item .tickets {background: #777}
.list .item .booked {background: #3D71E9}
.list .item .cancel {background: #DF5454}
.linethrough {text-decoration: line-through}
@media only screen and (max-width: 1150px) {
  .list .item {
    width: 100%;
    margin-right: 20px
  }
  .list {
    margin: 0 20px auto
  }
} */

@media (max-width: 980px) {
  .list {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    justify-content: center;
}
}

@media (max-width: 500px) {

  .item {
    min-width: 48%;
    display: flex;
    border: none;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
    flex-direction: row;
  }

  .list .item-right {
    display: none;
  }

  .list .item-left {
    width: auto;
  }
 }
.list-part {
  cursor: pointer;
}

.choise-events {
  cursor: pointer;
  display: grid;
  grid-template-columns: 80% 20%;
}

.choise-events::after {
  content: '\25BC';
  font-size: 10px;
  padding-top: 5px;
  color: black;
  text-align: end;
  transform: rotateX(0deg);
  transition: transform 0.5s ease-in-out;
}

.choise-open:after {
  transform: rotateX(180deg);
}

.bottom-dropdown {
  left: 0;
}

.close-button {
  margin-top: 10px;
  width: 100%;
  min-height: 30px;
  background-color: #9999;
  border: 1px solid transparent;
}

.list-dropdown {
  padding: 5px;
}

.filter-dropdown {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 90%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: auto;
  overflow: hidden;
  display: none;
  visibility: hidden;
  transition: visability 0.5s ease-in-out;
}

.filter-dropdown-open {
  display: block;
  visibility: visible;
}


#calendar2 {

	width: 200px;
	font: monospace;
	line-height: 1.2em;
	font-size: 15px;
	text-align: center;
}
#calendar2 thead tr:last-child {
	font-size: small;
	color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
	color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
	cursor: pointer;
}
.date {
	color: rgb(44, 86, 122);
	
	cursor: pointer;
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
	color: rgb(231, 140, 92);
}
.today {
	background-color: gray;
	color: white;
}


.active {
	background-color: red;
	color: white;
}


.inputSearch {
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
}


@media (max-width: 450px) {
.inputSearch {
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  width: 100%;
 }
}
.checkbox-container {
  position: relative;
}

.custom-checkbox {
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

label {
  display: flex;
}

label + .custom-checkbox {
  /* display: inline-flex; */
  /* align-items: center; */
  user-select: none;
}
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.custom-checkbox:checked+label::before {
  content: '';
  background-image: url(./6211380b94795cd8dce7.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 6px;
}
